body {
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 5px 5px 5px 5px black;
    height: auto;
    width: 800px;
    background-color: white;
    border-color: black;
    display: table-cell;
    vertical-align: middle;
}

html {
    heights: auto;
    display: table;
    margin: auto;
    background: url(../images/bats.gif);
}

h1 {
    font-size: 200%;
    color: orange;
    font-style: italic;
    text-shadow: black;
}

h2 {
    font-size: 200%;
}

h3 {
    font-size: 200%;
}

h3::first-letter {
    font-size: 200%;
    color: black;
}

ul {
    line-height: 1.5;
    font-weight: bold;
}

a:visited, a:link {
    color: orange;
}

a:hover, a:active {
    color: green;
}

header {
    text-indent: 2%;
}

footer {
    font-size: 80%;
    text-align: center;
}